/* Vector just uses font-family: sans serif for most body text (except headings).
I think I like leaving it up to the browser default though.
*/
a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0645ad;
}

a.redlink {
  color: #ba0000;
}

a.redlink:visited {
  color: #a55858;
}

a.mw-external {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
  padding-right: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #a2a9b1;
}

h1, h2 {
  font-family: 'Linux Libertine','Georgia','Time',serif;
  line-height: 1.3;
  margin-bottom: 0.25em;
  padding: 0;
}

table.wikitable {
  background-color: #f8f9fa;
  color: #222;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

table.wikitable > * > tr > th {
  background-color: #eaecf0;
  text-align: center;
}
table.wikitable th, table.wikitable td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}
