
/* https://stackoverflow.com/questions/10245279/wrapping-html-table-rows-in-a-tags
*/
td > a {
  display: block;
}

td.Participants, td.Date {
  text-align: center;
}

td.outcome-yes {
  background-color: hsl(114, 66%, 86%);
}

td.outcome-no {
  background-color: hsl(10, 100%, 92%);
}

td.outcome-nc {
  background-color: hsl(52 , 82%, 87%);
}

/* My mind is fucking blown right now. */
td.Outcome:first-letter {
  text-transform: capitalize;
}
