
/* https://stackoverflow.com/questions/10245279/wrapping-html-table-rows-in-a-tags
*/
td > a {
  display: block;
}

td.Participants, td.Date {
  text-align: center;
}

td.role-close, td.role-nom {
  text-align: center;
}

td.outcome-yes, td.vote-supp {
  background-color: hsl(114, 66%, 86%);
}
td.vote-strong-supp {
  background-color: hsl(114, 66%, 81%);
}
td.vote-weak-supp {
  background-color: hsl(114, 66%, 91%);
}

td.outcome-no, td.vote-opp {
  background-color: hsl(10, 100%, 92%);
}
td.vote-strong-opp {
  background-color: hsl(10, 100%, 88%);
}
td.vote-weak-opp {
  background-color: hsl(26, 100%, 95%);
}

td.outcome-nc {
  background-color: hsl(52 , 82%, 87%);
}

/* My mind is fucking blown right now. */
td.Outcome:first-letter {
  text-transform: capitalize;
}

.multimove-indicator {
  margin-left: 7px;
}

.role-nom, .role-close {
  font-style: italic;
}
